body {
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: #222;
  color: white;
}

.container {
  width: 600px;
  text-align: center;
}

.main-view {
  width: 100%;
  height: 300px;
  background-color: #333;
  margin-bottom: 2rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s;
  border: 2px solid #555;
}

.thumbnails-grid {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 0.2s;
  opacity: 0.6;
}

.thumbnail:hover {
  opacity: 1;
}

/* Klasa wybranego elementu */
.thumbnail.selected {
  border-color: #fff;
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
